@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway';
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


/* SIDEBAR */

.sidebar-container {
  width: 459px;
  height: 1024px;
  background: #1E213A;
  align-items: center;
}

.btn-container {
  justify-content: space-between;
  padding: 30px;
  width: 459px;
}

.search-btn { 
  background: #6E707A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #E7E7EB;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 161px;
  height: 40px;
}

.location-btn {
  background: #6E707A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.cloud-background {
  position: absolute;
  top: 120px;
  opacity: 0.1;
}

.condition-img {
  margin: 90px;
}
.current-temp {
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  margin-bottom: 90px;
  padding-left: 20px;
}

.scale-notation {
  font-size: 36px;
  font-weight: 600;
  align-self: center;
}

.current-condition {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 90px;
}

.current-date {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.current-location {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}